.main {
  height: 100vh;
  width: 100%;
  padding: 50px;
  margin-left: 30px;
  .heading {
    font-size: 30px;
    color: black;
    font-weight: 600;
  }
  .a {
    font: 800;
    .b {
      font-size: 0.75rem;
      color: #818cf8;
      font-weight: 900;
      position: relative;
      top: 0.5rem;
      margin: 0 0 0 7px;
      padding: 0 3px;
      background: #e8e8e8;
      width: fit-content;
    }

   
  }
 
  .Transection {
    margin-top: 2rem;
    > h2 {
      font-size: 18px;
      color: #818cf8;
      margin: botton 0.8rem;
      height: 3.8rem;
    }

    > table {
      background: white;
      width: 100%;
      border-radius: 25px;
      padding: 50px;
      text-align: center;
      // box-shadow: ;
      transition: all 300ms ease;

      &:hover {
        box-shadow: none;
      }

      > thead {
        font-size: 18px;
        color: black;
        > tr {
          height: 2.8rem;
          > th {
            text-align: center;
            border-bottom: 1px solid black #e8e8e8;
            height: 2.8rem;
          }
        }
      }
      > tbody {
        font-size: 14px;
        color: black;
        > tr {
          height: 2.8rem;
          > td {
            border-bottom: 1.5px solid #f5f3ff;
            height: 2.8rem;
          }
        }
      }
    }
  }
}
