.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  color: black;

  .chains {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .paybtn {
    padding: 5px 5%;
    background-color: pink;
    border-radius: 3px;
    border: none;
    font-size: 2rem;

    &:hover {
      background-color: #333;
    }
  }

}