@import "./variables.scss";
$hero-font-size: 6rem;

.main {
  max-width: 100%;
  min-height: 100vh;

  .background {
    overflow: visible;
    position: absolute;
    height: 100vh;
    width: 100%;

    z-index: -998;

    .bggrid1 {
      position: absolute;
      left: 10%;
      top: 10%;
    }

    .bggrid2 {
      position: absolute;
      right: 5%;
      bottom: 20%;
    }

    .line1 {
      position: absolute;
      height: calc(100vh / 1.3);
      width: calc(100vw / 1.3);
      left: -15%;
      top: 40%;
      transform: rotate(8deg);
      // background-color: red;
    }
  }

  .header {
    position: relative;
    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nav {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 3rem 5%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 999;

      .logo {
        user-select: none;

        > img {
          pointer-events: none;
        }
      }

      .links {
        display: flex;
        align-items: center;
        gap: 3rem;
        justify-content: flex-end;
        font-family: var(--font-machina);
        font-size: 2rem;
        font-weight: 400;

        .link {
          text-decoration: none;
          background-image: linear-gradient(#9118e3, #9118e3);
          background-size: 0% 0.1em;
          background-position-y: 100%;
          background-position-x: 0%;
          background-repeat: no-repeat;
          transition: background-size 0.2s ease-in-out;
        }

        .link:hover,
        .link:focus,
        .link:active {
          background-size: 100% 0.1em;
        }
      }
    }

    .hero {
      width: 100%;
      height: 100%;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font: var(--font-machina);
      margin-top: 10%;
      .line1 {
        position: relative;
        font-size: $hero-font-size;

        > h1 {
          line-height: 100%;
        }

        .sparkle {
          position: absolute;
          top: -60%;
          right: 10%;
          transform: rotate(45deg);
        }
      }

      .line2 {
        font-size: $hero-font-size;
        display: flex;
        align-items: center;
        justify-content: center;

        .eye {
          aspect-ratio: 720/316;
          height: $hero-font-size + 2rem;
          margin-right: 3rem;
        }

        > h1 {
          transition: all 0.2s ease-in-out;
          line-height: 100%;
          font-family: var(--font-migra);
          font-style: italic;
          color: aqua;
          font-weight: 800;
          animation-name: color-change;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-direction: alternate-reverse;
          animation-timing-function: ease-in-out;

          @keyframes color-change {
            0% {
              color: cyan;
            }

            50% {
              color: hotpink;
            }

            100% {
              color: peachpuff;
            }
          }
        }

        .arrow {
          aspect-ratio: 155/88;
          height: $hero-font-size + 2rem;
          margin: 0 3rem;
        }
      }

      .line3 {
        position: relative;
        font-size: 5.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .sparkle {
          position: absolute;
          top: -30%;
          left: -10%;
          transform: rotate(30deg);
        }

        .eye {
          aspect-ratio: 720/316;
          height: $hero-font-size + 2rem;
          margin-left: 3rem;
        }

        > h1 {
          line-height: 100%;
        }
      }
    }
    .getStartedbutton {
      width: 80%;

      padding: 5% 5% 0 5%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      > h1 {
        font-size: large;
      }
    }
  }

  .section2 {
    width: 100%;
    min-height: 100vh;
    padding: 5% 5% 0 5%;
    display: flex;
    flex-direction: column;

    .threed {
      position: relative;
      width: 30%;
      scroll-behavior: smooth;

      .tdobj {
        position: absolute;
        z-index: 999;
      }
    }

    .card1 {
      width: 100%;
      height: 70vh;
      background-color: white;
      border: 2px;
      display: flex;
      justify-content: space-between;
      border-radius: 50px;
      .paragraph {
        padding: 0px 10% 0px 10%;
        font-size: 17px;
      }
    }
  }
  .section3 {
    width: 100%;
    min-height: 100vh;
    padding: 5% 5% 0 5%;
    display: flex;
    flex-direction: row;
    background-image: url(../public/Images/assets/biggrid.svg);
    justify-content: space-between;
    background-size: 100vh 100vh;
    .heading5 {
      font-size: 120px;
      font-weight: 700;

      font-family: var(--font-migra);
      font-style: italic;
      text-shadow: 10px 10px 30px #f468dc;
      > h1 {
        transition: all 0.2s ease-in-out;
        line-height: 100%;
        font-family: var(--font-migra);
        font-style: italic;
        color: aqua;
        text-shadow: none;
        
        animation-name: color-change;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in-out;

        @keyframes color-change {
          0% {
            color: cyan;
          }

          50% {
            color: hotpink;
          }

          100% {
            color: peachpuff;
          }
        }
      }
    }
    .sponsers {
      width: 70vh;
      height: 30vh;
      box-shadow: 3px 2px 30px #f468dc;
      background-color: white;
      border: 2px;
      margin: 5%;
      display: flex;
      border-radius: 5px;
      justify-content: center;
      place-items: center;
      align-items: center;
      .items {
        padding: 50px;
      }
    }
  }
}
