.main {
  height: 100vh;
  width: 100%;
  padding: 50px;
  margin-left: 30px;
  .heading {
    font-size: 30px;
    color: black;
    font-weight: 600;
  }

  .tabs {
    display: flex;
    flex-direction: row;

    color: black;
    padding: 12px;
    margin-left: 30px;
  }
  .heading1 {
    display: flex;

    flex-direction: row-reverse;

    color: black;
    width: auto;
    height: 50px;
    border: 2px;
    border-radius: 12px;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;

    .items1 {
      text-align: center;

      display: flex;
      margin: 8px;
      justify-content: center;
      align-items: center;
    }
    .items2 {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px;
      position: relative;
      justify-content: center;
    }
  }
}
